body{
    margin: 0 auto;
}
.navbar{
    background-color: #292421;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
}
.margin{
    width: 87%;    
    margin: 0 auto;
}
.navbar a{
    color:grey;
    float: left;
    text-align: left;
    text-decoration: none;
    padding: 10px;    
    /* margin-top: 3px; */
}
.mainheading{
    font-size: 16.5px;
    /* padding-right: 15%; */
}
.subheading{
    font-size: 13px;
    float: left;
    padding-left: 10px;
    padding-top: 2px;
}
.container{
    width: 85%;
    margin: 0 auto;
    padding-top: 30px;
}
.left{
    float: left;
    width: 68%;
    margin-bottom: 10px;
}
.right{
    float: right;
    width: 31%;
    padding-left: 10px;
}
.posts{
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;  
}
.blog{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: 	#484848 ;
}
.blog2{
    color: #67aded;
    font-size: 20px;
    margin-top: 2px;
}
.h6{
    color: #545454;
    text-align: left;
    font-family: arial;
    font-size: 13px;
}
.footer{
    margin-top: 5%;
    margin-bottom: 5%;
}
hr{
    opacity: 0.2;
}
.date{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #484848;
    font-size: 13px;
}
.color-pic{
    margin-top: 12px;
    margin-bottom: 14px;
    background-color: #C8C8C8 ;
    padding-top: 9%;
    padding-bottom: 9%;
    border-radius: 4px;
}
.h900{
    color:  #A8A8A8 ;
    margin-left: 37%;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;    
}
.lorem1{
    margin-top: 15px;
    /* color: #545454; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
.para{
    margin-top: 10px;
    /* margin-bottom: 5px; */
    font-size: 14px;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
}
.line3{
    clear: both;
    padding-top: 2%;
}
.one{
    background-color:#F0F0F0 ;
    padding-top: 30px;
    border-radius: 6px;
    border: 1px solid #E0E0E0;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif; 
    /* padding-bottom: 6%; */
    width: 87%;
    margin-bottom: 20px;
    /* display: inline; */
}
.example2{
    margin-left: 13.5px;
}
form.example input[type=text] {
    padding: 2px;
    font-size: 17px;
    border: 1px solid #E0E0E0 ;
    border-right: none;
    width: 82%;
    float: left;
    border-top-left-radius: 4px;;     
    border-bottom-left-radius: 4px;
}

form.example button {
    float: left;
    width: 13.5%;
    padding: 3.5px;
    background: whitesmoke ;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: black;
    font-size: 17px;
    border: 1px solid #E0E0E0;
    /* border-left: none; */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
.two{
    background-color:#F0F0F0 ;
    padding-top: 30px;
    border-radius: 6px;
    border: 1px solid #E0E0E0;
    font-size: 17px;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif; 
    padding-bottom: 1%;
    width: 87%;
    margin-bottom: 10px;
    /* display: inline; */
}
table{
    margin-top: 10px;
    padding-left: 8px;
}
.table{
    color: #0b7dda;
    font-size: 12px;
    padding-bottom: 15px;
}
.thirdlorem{
    font-size: 12px;
    line-height: 16px;
    padding-right: 20px;
    padding-bottom: 18px;
    padding-left: 10px; 
}
